.title-cls{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-cls{
    display: flex;
    flex-direction: column;
}

.overall-err{
  color: red;
}

.btn-container{
  justify-content: flex-end;
}
